<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoalandGasOutburstPredictingByRandomForest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CoalandGasOutburstPredictingByRandomForest.config.RDll" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CoalandGasOutburstPredictingByRandomForest.Properties.Settings>
            <setting name="RDLLDir" serializeAs="String">
                <value>C:\Program Files\R\R-2.15.0\bin\i386</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>WangMing</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>基于RandomForest模型的煤与瓦斯突出预测系统</value>
            </setting>
            <setting name="AuthComName" serializeAs="String">
                <value>中国矿业大学管理学院</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>2012-5-18 10:08</value>
            </setting>
        </CoalandGasOutburstPredictingByRandomForest.Properties.Settings>
      
    </applicationSettings>
</configuration>